body{background: #F6F6F6 url(/images/background_800-2.gif) repeat-y 50% 0%;font-size:12px}
#wrapper{position:relative;width:780px;background:#fff;padding:10px 10px 30px;margin:10px auto}
#header{height:49px;background:url(/images/options_clicky_logo.gif) no-repeat 0% 0%;padding:20px 0 0 200px;font-size:16px;line-height:18px}
.divide{width:780px;height:10px;border-bottom:#ccc 1px dashed;clear:both;margin:5px 0 15px}
.clear{clear:both}
.center{text-align:center}
.right{float:right}
.required{font-weight:bold}
/*.optional{background:#cdffce;padding:2px}*/

h1{font-size:15px;font-weight:bold;margin:10px 0}
h2{font-size:14px;font-weight:bold}
th{font-size:13px}
ol{list-style-type:decimal;margin-left:30px}
ol li{margin-bottom:5px;line-height:18px;margin-left:15px}
p{margin-bottom:5px;line-height:18px}

a, a:visited{text-decoration:none;color:#5D93E1}
a:hover, a:active{text-decoration:underline;color:#5D93E1}
a.disabled, a.disabled:visited, a.disabled:hover, a.disabled:active{color:gray;text-decoration:none;cursor:default}

.option{width:740px;margin:0 auto;padding:10px;position:relative;display:table;border-bottom:1px solid #e0e0e0}
.last{border:none}
.option_name{font-weight:bold;width:190px;font-size:13px;display:table-cell;vertical-align:middle;}
.option_values{width:560px;display:table-cell;vertical-align:middle;}

.option ul{margin-top:8px}
#color{width:450px;height:50px}
#color li{float:left;width:90px;text-align:center}
#indicator {width:420px;height:30px}
#indicator li, #notifications li{float:left;margin-right:30px}
#indicator li:last-child, #notifications li:last-child{margin:0}
#notifications{width:380px;height:30px}
#problems, #import{position:relative;background:#eee;padding:20px;text-align:center;display:none;margin-bottom:10px}
#import_error{margin-top:10px;padding:10px;background:#e7989d;display:none}
#import_loader{position:absolute;right:280px;top:148px;display:none}

#sites_table{width:760px;margin:0 auto}
thead tr{border-bottom:1px solid #999}
tbody tr{height:29px;border-bottom:1px solid #eee}
th{text-align:left;padding-bottom:5px}
td{padding:5px 0}
td div{float:left;margin:0}
th.site_name{width:180px}
th.site_url{width:230px}
th.site_id{width:95px}
th.site_key{width:165px}
th.edit{width:90px}
img.grip{margin:0 5px 0 2px;cursor:move}
span, td.edit{font-size:11px;font-weight:normal;}
.off{display:none;width:0px}
.input_name{width:160px}
.input_url{width:210px}
.input_id{width:75px}
.input_key{width:145px}
#reminder td{background:#FDFFC7;padding-left:10px}

#save_button{font-size:15px;font-weight:bold;margin:10px;padding:5px;width:200px}
#save_feedback{margin-top:10px;padding:10px;background:#caffce;display:none}

input.username{margin-right:10px}

/* OPTIONS HELP */
#options_info{width:600px;height:500px;border-bottom:1px solid #ddd;padding:5px}
#context_info{width:600px;height:300px;border-bottom:1px solid #ddd;padding:5px;clear:both}
#options_info h1, #context_info h1{margin:0 0 15px 0;border-bottom:1px solid #ddd;padding-bottom:5px}
dt{font-size:13px;font-weight:bold;margin-bottom:10px}
dd{line-height:18px;margin:0 0 10px 10px}
dd p{margin-bottom:8px}
dd ul{list-style-type:disc;margin-left:30px;margin-bottom:10px}
.help-context{float:left;margin:0 15px 10px 0}
em{background:#e3e3e3}